{% extends "layout.html" %}
{% block body %}

<div class="container">
    <h1 class="mt-4 mb-4 text-center">PAINEL DE CADASTRO</h1>
    <div class="row justify-content-center">
        <!-- Cadastro de Facilitador -->
        <div class="col-md-3">
            <div class="card text-center">
                <img src="{{ url_for('static', filename='facilitador.png') }}" alt="Imagem de Facilitador"
                    class="img-fluid" style="max-width: 180px;">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Facilitador</h5>
                    <a href="/exibirFacilitadores" class="btn btn-primary">Cadastrar</a>
                </div>
            </div>
        </div>
        <!-- Cadastro de Estudantes -->
        <div class="col-md-3">
            <div class="card text-center">
                <img src="{{ url_for('static', filename='estudante.png') }}" alt="Imagem de Estudante"
                    class="img-fluid" style="max-width: 180px;">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Estudantes</h5>
                    <a href="/exibirEstudantes" class="btn btn-primary">Cadastrar</a>
                </div>
            </div>
        </div>
        <!-- Cadastro de Cursos -->
        <div class="col-md-3">
            <div class="card text-center">
                <img src="{{ url_for('static', filename='estudante.png') }}" alt="Imagem de Cursos"
                    class="img-fluid" style="max-width: 180px;">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Cursos</h5>
                    <a href="/exibirCursos" class="btn btn-primary">Cadastrar</a>
                </div>
            </div>
        </div>
        <!-- Cadastro de Turmas -->
        <!-- <div class="col-md-3">
            <div class="card text-center">
                <img src="{{ url_for('static', filename='estudante.png') }}" alt="Imagem de Turmas"
                    class="img-fluid" style="max-width: 180px;">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Turmas</h5>
                    <a href="/exibirTurmas" class="btn btn-primary">Cadastrar</a>
                </div>
            </div>
        </div> -->
    </div>
</div>

{% endblock %}
